<div id="wrapper">
    
    <ul>
      
   
    

    
   <!-- <a href="#">
    <li (click)="menu('addcert')"> 
            
      ADD RT-PCR
 
</li>
   </a> -->

<li id="icon-wrapper">
        <img draggable="false" src="assets/logo/barmm-logo.png"/> 
  </li>
  <li id="icon-wrapper">
    <img  draggable="false" src="assets/logo/moh-logo.png" />
</li>
<!-- <li  (click)="menu('certlisting')">
        LISTING OF RT-PCR
        
    
</li> -->
<!-- 
<li *ngIf="usershow" (click)="menu('user')">
  USERS
  
 
</li> -->

 



<!-- <li (click)="collectibles()">
        Sign Out
        
        <i class="fa fa-list"></i>
</li> -->
    </ul>
</div>

 